@import "tailwindcss";

:root {
  --background: url("../assets/images/blob-scene-haikei(2).svg") no-repeat;
  --background-size: cover;
}

body {
  background: var(--background);
  background-size: var(--background-size);
}
